@{
    ViewBag.Title = "Страница не найдена";
}

<div class="middle-box text-center animated fadeInDown">
    <h1>404</h1>
    <h3 class="font-bold">Страница не найдена</h3>
    <div class="error-desc">
        Извините, но страница, которую вы пытаетесь открыть не существует. Проверьте путь, который вы указали.
    </div>
</div>