@{
    ViewBag.Title = "Внутренняя ошибка сервера";
}

<div class="middle-box text-center animated fadeInDown">
    <h1>500</h1>
    <h3 class="font-bold">Внутренняя ошибка сервера</h3>
    <div class="error-desc">
        Произошла внутренняя ошибка сервера. Если ошибка будет повторяться обратитесь к администратору.
    </div>
</div>