@model string

<div id="content-inner" style="padding: 10px 30px 30px 30px; background: #ffffff; width: 100%">
    <div class="container-fluid">
        <h2>Завершение</h2>
        @Html.Partial("_CommandRibbon", "Step4")
        <br />
        <p>@Model</p>
    </div>
</div>
